{varType string $currentSectionTitle}
{block h1}
{_"Categories"} <small class="text-muted">{$currentSectionTitle}</small>
{/block}

{block sidebar}
	{control categoriesMenu}
{/block}

{block content}

	{capture $filesContainer}
		{snippet files}
			{ifset $files}
				<div n:foreach="$files as $file" class="img-thumbnail d-inline-block {if $file->isMain}selected{/if}" data-file-id="{$file->file->getId()}">
					<a n:tag-if="!$isWindowMode" nx:href="fileInfo! hash=>$file->file->getHash()" data-bs-toggle="popover" titlex="{_'Actions'}" data-content="<a href='{link removeImage! fileId=>$file->file->getId()}' class='ajax'><i class='fa fa-times'></i></a>" data-bs-placement="bottom" titlex="{$file->file->getName()}">
						<img n:src="$file->file, '130x130'" alt="{$file->file->getName()}" class="">
						<small class="d-block text-xs-center">{$file->file->getName()}</small>
					</a>
				</div>
			{/ifset}
		{/snippet}
	{/capture}

	{form categoryForm}
		<div class="container-fluid">
			<div class="row">
				<div id="content-inside" class="col-lg-9 col-xl-8">
					{if count($languages)>1}
						<ul id="tabsJustified" class="nav nav-tabs">
							<li n:foreach="$languages as $language => $languageName" class="nav-item">
								<a class="nav-link {if $language==$actualLanguage}active{/if}" href="{link this 'editLocale'=>$language}" aria-expanded="false">{$languageName}</a>
							</li>
						</ul>
						<br>
					{/if}

					{$form->getRenderer()->renderPair($form['translation']['title']) |noescape}

					{$form->getRenderer()->renderPair($form['translation']['url']) |noescape}

					<div>
						{$form->getRenderer()->renderPair($form['translation']['excerpt']) |noescape}

						{$form->getRenderer()->renderPair($form['translation']['content']) |noescape}

						<fieldset>
							<legend>{_"SEO"}</legend>
							{$form->getRenderer()->renderPair($form['translation']['seoTitle']) |noescape}
							{$form->getRenderer()->renderPair($form['translation']['seoDescription']) |noescape}
							{$form->getRenderer()->renderPair($form['translation']['seoKeywords']) |noescape}
						</fieldset>
					</div>
				</div>

				<div id="sidebar-inside" class="col-lg-3 col-xl-4" role="navigation">
					<fieldset>
						<legend>{_'Actions'}</legend>
						<div class="row mb-3">
							<div class="col-sm-3 col-lg-12x col-form-label">
								{label active: /}
							</div>

							<div class="col-sm-9 col-lg-12x">
								<div class="form-check">{input active:}</div>
							</div>
						</div>

						{$form->getRenderer()->renderPair($form['status']) |noescape}

						<div n:if="$revisionCount" class="row mb-3">
							<div class="col-sm-3 col-lg-12x col-form-label">
								<i class="fa fa-history"></i> {_'Older versions'}
							</div>

							<div class="col-sm-9 col-lg-12x">
								{var $revisionParamName = \App\AdminModule\Presenters\CategoriesPresenter::$revisionParameter}
								{capture $revisionsContainer}
									<ul class="list-unstyled">
										<li n:foreach="$revisionsList as $revision"><strong n:tag-if="$revision->id == $presenter->getParameter($revisionParamName)"><a n:href="this $revisionParamName=>$revision->id" title="{_'View'}">{$revision->createDate|date:\DATETIME_FORMAT}</a></strong></li>
									</ul>
								{/capture}
								<a tabindex="0" class="btn btn-outline-dark" role="button" data-bs-toggle="popover" data-bs-placement="bottom" title="&lt;i class=&quot;fa fa-history&quot;&gt;&lt;/i&gt; {_'Older versions'}" data-content="{$revisionsContainer}">
									{$revisionCount}
								</a>
								<a n:if="$presenter->getParameter($revisionParamName)" n:href="this $revisionParamName=>null" class="btn btn-secondary" role="button" title="{_'Restore'}">
									<i class="fa fa-undo"></i>
								</a>

							</div>
						</div>

						{$form->getRenderer()->renderPair($form['publishingDate']) |noescape}

						{$form->getRenderer()->renderPair($form['expiringDate']) |noescape}

						<div class="row mb-3">
							<div class="col-sm-3 col-lg-12x col-form-label">
								{label showInMenu: /}
							</div>

							<div class="col-sm-9 col-lg-12x">
								<div class="form-check">{input showInMenu:}</div>
							</div>
						</div>

						<div class="row mb-3">
							<div class="col-sm-3 col-lg-12x col-form-label">
								{label public: /}
							</div>

							<div class="col-sm-9 col-lg-12x">
								<div class="form-check">{input public:}</div>
							</div>
						</div>

						{*<ul class="nav nav-pills nav-stacked">
							<li class="nav-item"><a class="nav-link" href="#">Overview</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Reports</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Analytics</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Export</a></li>
						</ul>*}
						<div class="row mb-3">
							<div class="col-sm-12 col-form-label"></div>

							<div class="col-sm-12">
								{input send class=>'btn btn-primary button'}
								{if $id && $urlManager->existUrlByTypeAndKey('category', $id, $actualLanguage)}
									<a n:href=":Front:Categories:detail id=>$id, locale=>$actualLanguage" class="btn btn-secondary" title="{_'Show on web'}" target="blank"><i class="fa fa-eye"></i></a>
								{/if}
							</div>
						</div>
					</fieldset>

					<fieldset>
						<legend>{_'Tags'}</legend>
						{input tags class=>'form-control text'}
					</fieldset>

					<fieldset class="images-sortable">
						<legend>{_'Images'} <a href="#" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#modal" data-src="{link :Admin:FilesManager:default isWindowMode=>true}" title="{_'Add'}" ><i class="fa fa-plus"></i></a></legend>
						{input images}
						{$filesContainer}
						{*<img src="/images/thumb.svg" alt="Thumbnail" class="img-thumbnail active" style="width: 6rem;">*}
					</fieldset>
				</div>
			</div>
		</div>
	{/form}


	<div class="clearfix"></div>

	{*<div class="" role="navigation">
		<fieldset>
			<legend>{_'Metas'}</legend>
			{snippet metas}
				{control metaValueForm}
			{/snippet}
		</fieldset>
	</div>*}

	<script type="text/javascript">
		var selectedFilesFromIframeUrl = {link addImage!};

		//sortable menu
		var sortableFunc = function(){
			$('.images-sortable').sortable({
				forcePlaceholderSize: true,
				helper:	'clone',
				opacity: .6,
				items: '.img-thumbnail',
				tolerance: 'pointer',
				revert: true,
				update: function() {
					var serialized = $(this).sortable( "toArray", {
						attribute: "data-file-id"
					});

					$.nette.ajax({
						url: {link sortItems!},
						data: { 'items': serialized },
						complete: function(){
							sortableFunc();
						}
					});
				}
			});
		};
		sortableFunc();
	</script>

	{capture $modalContent}
		<iframe />
	{/capture}
	{include \APP_DIR.'Presenters/templates/Components/modalForm.latte' id=>'modal', label=>$control->translator->translate('Images'), modalContent=>$modalContent, size=>'modal-lg modal-fs'}
