{extends \APP_DIR.'AdminModule/templates/@layout.latte'}

{block h1}
	{_"Dynamic forms"}
{/block}

{block buttons}
	<a href="#" nx:href="add!" class="btn btn-primary ajax" data-bs-toggle="modal" data-bs-target="#modal"><i class="fa fa-plus"></i> {_'Add'}</a>
{/block}

{block content}

	{capture $modalContent}
		{snippet dynamicFormForm}
			{control dynamicFormForm}
		{/snippet}
	{/capture}
	{include \APP_DIR.'Presenters/templates/Components/modalForm.latte' id=>'modal', label=>$control->translator->translate('Dynamic forms'), modalContent=>$modalContent} {*, size=>'modal-sm'*}

	{control dynamicFormsGrid}