{form searchForm, class=>'form-inline my-2 my-lg-0'}
	<div class="input-group" role="search">
		{input query class=>'form-control'}
		<span class="input-group-append">
			{input send class=>'btn btn-outline-secondary'}
		</span>
	</div>
{/form}