migrations:
	groups:
		stalker:
			enabled: true
			# data/migrations/mysql nebo data/migrations/pgsql podle parametru migrations.driver (config.neon)
			directory: %appDir%/Plugins/Stalker/data/migrations/%migrations.driver%
			dependencies: [structures]
			generator: null

services:
	#Admin
	- App\Plugins\Stalker\Model\Stalkers
	stalker:
		factory: App\Plugins\Stalker\Stalker
		tags: [presenter.plugin: stalker]