includes:
	- %rootDir%/app/Plugins/DynamicForms/config.plugin.neon
	- %rootDir%/app/Plugins/SimpleSignUp/config.plugin.neon
	- %rootDir%/app/Plugins/Stalker/config.plugin.neon
	- %rootDir%/app/Plugins/Statistics/config.plugin.neon
	- %rootDir%/app/Plugins/Sliders/config.plugin.neon
	- %rootDir%/app/Plugins/Hotel/config.plugin.neon

