{block h1}
{$category->title}
{/block}

{block content}
	 <!-- Post Content -->
	<article>
		{$category->excerpt|noescape}

		{ifset $category->metas['divny']}
			{_'Meta divny'}: {$category->metas['divny']->value}
		{/ifset}


		{* Images *}
		{*
		<div n:if="$category->mainFile" class="media-left">
			<a n:image="$category->mainFile">
				<img n:src="$category->mainFile, '200x200'" alt="{$article->mainFile->getName()}" class="media-object">
			</a>
		</div>*}

		{if $files}
			<div class="gallery">
				<div n:foreach="$files as $file" class="col-md-3x col-sm-4x col-xs-6x gallery-img-box">
					<a {*n:foreach="$files as $file"*} n:image="$file" {*class="col-md-3x col-sm-4x col-xs-6x gallery-img-box"*}>
						<img n:src="$file, '400x200'" alt="{$file->getName()}" class="gallery-img">
						<div class="desc">{$file->getName()}</div>
					</a>
				</div>
			</div>
			<div class="clearfix"></div>
		{/if}

		<p class="post-meta">{_"Posted by <a href='%s'>%s</a> on %s", "#",$category->author['author'], $category->publishing_date->format(\DATETIME_FORMAT) |noescape} {_'viewed'} {$category->view_count}</p>
	</article>