{block content}
<div class="container">
	<div class="mt-5 col-xs-8 offset-xs-2 col-lg-4 offset-lg-4">
		<h1 n:block=title>{_"Sign Up"}</h1>

		<p>{_'You cannot sign up here'}</p>
		{*
		{control signUpForm}

		<p><a n:href="in">{_"Already have an account? Log in."}</a></p>
		*}
	</div>
</div>