#application:
#	mapping:
#		Admin:Comments: App\Modules\CommentsModule\AdminModule\*Presenter
#		*: App\*Module\Presenters\*Presenter

migrations:
	groups:
		sliders:
			enabled: true
			directory: %appDir%/Plugins/Sliders/data/migrations
			dependencies: [structures]
			generator: null

services:
	#Admin
	- App\Plugins\Sliders\Model\Sliders
	- App\Plugins\Sliders\Model\SliderItems
	- App\Plugins\Sliders\Forms\SliderFormFactory
	- App\Plugins\Sliders\Forms\SliderItemFormFactory

	#Front
	- App\Plugins\Sliders\Components\Slider
	-
		factory: App\Plugins\Sliders\Components\SliderComponentFactory
		tags: [presenter.component: pluginSlider]