extensions:
	contactForm: App\Plugins\DynamicForms\DI\Extension()

migrations:
	groups:
		dynamicForms:
			enabled: true
			directory: %appDir%/Plugins/DynamicForms/data/migrations
			dependencies: [structures]
			generator: null

services:
	#Front
	- App\Plugins\DynamicForms\Forms\ContactFormFactory
	#contactFormControl: App\Components\ContactForm\ContactForm
	- App\Plugins\DynamicForms\Components\ContactFormControl
	- App\Plugins\DynamicForms\Model\DynamicForms
	- App\Plugins\DynamicForms\Forms\DynamicFormFormFactory
	- App\Plugins\DynamicForms\Forms\DynamicFormItemFormFactory

	-
		factory: App\Plugins\DynamicForms\Components\ContactFormComponentFactory
		tags: [presenter.component: contactFormControl]

	#Admin menu
	-
		factory: App\DI\PluginMenuItem('Dynamic forms', ':Admin:DynamicForms:default', 'DynamicForms')
		tags: [presenter.menu]