migrations:
	groups:
		statistics:
			enabled: true
			# data/migrations/mysql nebo data/migrations/pgsql podle parametru migrations.driver (config.neon)
			directory: %appDir%/Plugins/Statistics/data/migrations/%migrations.driver%
			dependencies: [structures]
			generator: null

services:
	#Front
	- App\Plugins\Statistics\Model\Statistics
	statistics:
		factory: App\Plugins\Statistics\Statistics
		tags: [presenter.plugin: statistics]