migrations:
	groups:
		statistics:
			enabled: true
			directory: %appDir%/Plugins/Statistics/data/migrations
			dependencies: [structures]
			generator: null

services:
	#Front
	- App\Plugins\Statistics\Model\Statistics
	statistics:
		factory: App\Plugins\Statistics\Statistics
		tags: [presenter.plugin: statistics]