{block h1}
{_"Settings"}
{/block}


{block content}
	<div class="container-fluid">
		{*include menu*}

		<div class="row">
			<div class="col-md-6">
				{control settingForm}
			</div>
		</div>

	</div>