{block h1}
	{_"Users"}
{/block}

{block buttons}
	<a n:if="$user->isAllowed('Users', 'add')" n:href="detail id=>null" class="btn btn-primary"><i class="fa fa-plus"></i> {_'Add'}</a>
{/block}

{block content}

	{control usersGrid}