{varType array $languages}
{varType string $actualLanguage}
{varType int|null $sectionId}
{varType bool $hasUrl}

{block h1}
{_"Section"}
{/block}

{block content}
	{form sectionForm}
		<div id="content-inside" class="col-lg-9 col-xl-8">
			{if count($languages)>1}
				<ul id="tabsJustified" class="nav nav-tabs">
					<li n:foreach="$languages as $language => $languageName" class="nav-item">
						<a class="nav-link {if $language==$actualLanguage}active{/if}" href="{link this 'editLocale'=>$language}" aria-expanded="false">{$languageName}</a>
					</li>
				</ul>
				<br>
			{/if}

			{$form->getRenderer()->renderPair($form['translation']['title']) |noescape}
			{$form->getRenderer()->renderPair($form['translation']['url']) |noescape}
			{$form->getRenderer()->renderPair($form['translation']['content']) |noescape}

			<fieldset>
				<legend>{_"SEO"}</legend>
				{$form->getRenderer()->renderPair($form['translation']['seoTitle']) |noescape}
				{$form->getRenderer()->renderPair($form['translation']['seoDescription']) |noescape}
				{$form->getRenderer()->renderPair($form['translation']['seoKeywords']) |noescape}
			</fieldset>
		</div>

		<div id="sidebar-inside" class="col-lg-3 col-xl-4" role="navigation">
			<fieldset>
				<legend>{_'Actions'}</legend>
				<div class="row mb-3">
					<div class="col-sm-3 col-lg-12x col-form-label">{label active: /}</div>
					<div class="col-sm-9 col-lg-12x"><div class="form-check">{input active:}</div></div>
				</div>
				<div class="row mb-3">
					<div class="col-sm-12">
						{input send class=>'btn btn-primary button'}
						<a n:if="$sectionId && $hasUrl" n:href=":Front:Sections:detail id=>$sectionId, locale=>$actualLanguage" class="btn btn-secondary" title="{_'Show on web'}" target="blank"><i class="fa fa-eye"></i></a>
					</div>
				</div>
			</fieldset>

			<fieldset n:if="$sectionId">
				<legend>{_'Content'}</legend>
				<a n:href=":Admin:Articles:default section=>$sectionId, id=>null" class="btn btn-outline-dark mb-2">{_'Articles'}</a>
				<a n:href=":Admin:Categories:default section=>$sectionId, id=>null" class="btn btn-outline-dark mb-2">{_'Categories'}</a>
			</fieldset>
		</div>
	{/form}

	<div class="clearfix"></div>
{/block}
